doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    // Fonts
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Kaushan+Script', rel='stylesheet')
    // Main.css
    link(rel='stylesheet', href='../css/Main.css')
    // scroll.css
    link(rel='stylesheet', href='../css/scroll.css')
    // Animate.css
    link(rel='stylesheet', href='../css/animate.css')
    // Bootstrap
    link(rel='stylesheet', href='../css/bootstrap.css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='../js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='../js/script.js')
    title Main
  body
    header.banner
      .parallax
        .parallax__layer.parallax__layer__0
          img(src='../img/parallax/layer-01.png')
        .parallax__layer.parallax__layer__1
          img(src='../img/parallax/layer-02.png')
        .parallax__layer.parallax__layer__2
          img(src='../img/parallax/layer-03.png')
        .parallax__layer.parallax__layer__3
          img(src='../img/parallax/layer-04.png')
        .parallax__layer.parallax__layer__4
          img(src='../img/parallax/layer-05.png')
        .parallax__layer.parallax__layer__5
          img(src='../img/parallax/layer-06.png')
        .parallax__layer.parallax__layer__6
          img(src='../img/parallax/layer-07.png')
        .parallax__cover
      nav.container
        h1.logo Statistic Film
        ul.nav
          if (user)
            li.nav__item
              a(href='/logout') Выход
            li.nav__item
              a(href='/users') Инфо
            li.nav__item
              a Добро пожаловать #{user.name}!
          if (!user)
            li.nav__item
              a(href='/register') Регистрация
            li.nav__item
              a(href='/login') Вход
          li.nav__item
            a(href='/search') Поиск
      .intro-direction
        a(href='#welcome', style='position: static;')
          .mouse-icon
            .wheel
    #welcome
      block content


