extends layoutreg

block content
  form(role='form', action='/login', method='post')
    h1 Вход
    p
      label.uname(for='username', data-icon='u')  Ваш логин
      input#username(name='username', required='required', type='text', placeholder='sitehere')
    p
      label.youpasswd(for='password', data-icon='p')  Ваш пароль
      input#password(name='password', required='required', type='password', placeholder='например 123456')
    p.login.button
      input(type='submit', value='Войти')
    p.change_link
      | Не зарегистрированы еще ?
      a.to_register(href='/register') Присоединяйтесь