extends layoutreg

block content
  form(role='form', action="/register",method="post",)
    h1  Регистрация
    p
      label.uname(data-icon='u') Ваше имя
      input#namesignup(type='text', name="name", required='required', placeholder='myname1')
    p
      label.uusername(data-icon='e')  Ваш никнейм
      input#usernamesignup(type='text', name="username", required='required', placeholder='myusername')
    p
      label.youpasswd(data-icon='p') Ваш пароль
      input#passwordsignup(type='password', name="password", required='required', placeholder='123456')

    p.signin.button
      input(type='submit', value='Регистрация')
    p.change_link
      | Уже зарегистрированы ?
      a.to_register(href='/login') Войдите на сайт